{#include layout}
{#title}Branches – {repo.name}{/title}
<div class="repo-layout">
    {#include RepositoryResource/sidebar nav=nav active='branches' /}
    <section class="repo-main">
        <h2>Branches</h2>
        <table>
            <tr><th>Branch</th><th></th></tr>
            {#for branch in branches}
            <tr>
                <td><a href="/repos/{repo.ownerHandle}/{repo.name}/tree/{branch.name}/">{branch.name}</a></td>
                <td>{#if branch.defaultBranch}<span class="badge badge-default">default</span>{/if}</td>
            </tr>
            {/for}
        </table>
    </section>
</div>
{/include}
